<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mdb.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>user home</title>
</head>
<body>
<p class="informations" data-forumId="<%= data._id %>"></p>
<div class="navbar navbar-light navbar-expand-xl">
    <div class="navbar-brand">
        <h6>GouvApp</h6>
    </div>
    <ol class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/test/users">Home</a></li>
        <li class="nav-item"><a class="nav-link">Cours</a></li>
        <li class="nav-item"><a class="nav-link">Quizz</a></li>
        <li class="nav-item"><a class="nav-link">Corrections</a></li>
        <li class="nav-item active"><a class="nav-link" href="#">Forums</a></li>
    </ol>
</div>
<br>
<div class="container-fluid">
    <h1><%= data.title%></h1>
    <h4><%= data.subject %></h4>
    <br>
    <div class="container">
        <div class="chat_content">
            <div class="messages">
                <% for(const m of data.messages){%>
                <div class="message">
                    <h6><%= m.user_name %></h6>
                    <p><%= m.message %></p>
                </div>
                <%}%>
            </div>
            <div class="envoie__message">
                <form>
                    <input type="text" placeholder="entrer votre text ici" required>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/mdb.min.js"></script>
<script>
    const ws = new WebSocket('ws://192.168.43.156:8090');
    ws.onopen = (evt) => {
        ws.send(JSON.stringify({"type":"getUrl","url":window.origin+location.pathname}))
    }

    ws.onmessage = (evt) => {
        const m = JSON.parse(evt.data);
        if(m.type === "addMessageForum"){
            let html = $('.chat_content .messages').html();
            $('.chat_content .messages').html(html+`
                        <div class="message">
                            <h6>${m.data.username}</h6>
                            <p>${m.data.message}</p>
                        </div>
                    `);
            $('.envoie__message form input').val('');
        }
    }
    $('.envoie__message form').on('submit',(e)=>{
        e.preventDefault();
        const data = {
            forum_id: $('.informations').attr('data-forumId'),
            username: 'le tester',
            message: $('.envoie__message form input').val()
        }
        ws.send(JSON.stringify({"type":"addMessageForum","data":data}));
    })
</script>
</body>
</html>
